#th{
    color: rgb(221, 32, 64);
    background-color: black;
}
.two{
    color: crimson;
}
.th2{
    background-color: blanchedalmond;
    color: black;
}
*{
    background-color: cornflowerblue;
}