    #selec{
        background-color: aqua;
    }
    .hel{

        color: blue;
    }
    h4,p{
        color: rgb(163, 231, 90);
    }
    *{
        background-color: blanchedalmond;
    }



    div>h6{
        background-color: crimson;
    }
    h6+h5{
        color: tomato;
    }
    h3::after{
        content: "... i hope all of are good";

    }
    h3::before{
        content: "helo guys";

    }
    ::selection{
        color: darkblue;
        background-color: forestgreen;
    }